
{% extends "_main_.html" %}




{% block title %}Enbotic Smart Machine{% endblock %}





{% block content %}

    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row sm-1">
          <div class="col-sm-6">
            <h4 class="m-0 text-dark"></h4>
          </div><!-- /.col -->
          <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">





        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>0</h3>
                <p>Dziś wyprodukowano</p>
              </div>
              <div class="icon">
               <i class="fad fa-pallet-alt"></i>
              </div>
              <a href="#" class="small-box-footer">Więcej <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->






          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>0</h3>
                <p>Wszystkie produkty</p>
              </div>
              <div class="icon">
                <i class="fad fa-save"></i>
              </div>
              <a href="#" class="small-box-footer">Więcej <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->




          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>REF1</h3>
                <p>Aktualna referencja</p>
              </div>
              <div class="icon">
                <i class="fad fa-barcode-read"></i>
              </div>
              <a href="#" class="small-box-footer">Więcej <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->






          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>0</h3>
                <p>Dzisiejsze awarie</p>
              </div>
              <div class="icon">
                <i class="fad fa-engine-warning"></i>
              </div>
              <a href="#" class="small-box-footer">Więcej <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->









		  <div class="row">

        </div>




        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock %}


{% block script %}

{% endblock %}